body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'IBM Plex Mono';
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper {
    width: 90%;
    height: 90%;
    position: relative;
    background-color: #1D1C29;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.sidebar-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0%;
}

.sidebar-wrapper .sidebar {
    height: 100%;
    width: 100%;
    padding: 0;
}

.sidebar-wrapper.fade-in {
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 3;
    opacity: 100%;
}

.sidebar-wrapper.fade-out{
    animation-name: fade-out;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 0;
}

@keyframes fade-out {
    from {
        transform: scale(1);
        opacity: 100%
    }

    to {
        transform: scale(0.01);
        opacity: 0%
    }
}

@keyframes fade-in {
    from {
        transform: scale(0.01);
    }

    to {
        transform: scale(1);
    }
}


/* wrapper for the compenent */
.interface-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


.chat-ui-home-controller {}

.chat-ui-controller * {}


.chat-ui-controller-header {
    margin: 0 auto;
    width: 395px;
    /* height: 111px; */
    padding: 22px 25px 20px 25px;
    background-color: #393849;
    margin-bottom: 47px;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

}

.chat-ui-controller-header span {
    color: var(--gray-light-05, #EDEDED);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.chat-ui-controller-btns-ctr {
    display: flex;
    gap: 20px;
    


}

.chat-ui-home-btns-wrapper{
    border: 2px solid #0FF;
    height: 70px;    
    width: 220px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-ui-controller-btns-ctr * {
    display: flex;
    flex-wrap: wrap;
    /* display: block; */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background: #1D1C29;
    text-align: center;
    margin-bottom: 2px;
}


.chat-ui-home-btns-wrapper * {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    flex-basis: 100%;

}