.button-options-input-div {
    flex: 1;
    margin-left: auto;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.buttons-option {
    border: 2px solid #00FFFF;
    margin: 0 !important;
    cursor: pointer;
    transition: background-color 0.2s;
}

.buttons-option:not(.disabled):hover {
    background-color: #4F4D65;
}

.buttons-option.disabled {
    cursor: default;
}

.buttons-option.disabled:not(.selected) {
    background-color: transparent;
    color: #393849;
    border-color: #393849;
}