@font-face {
    font-family: "IbmPlex";
    src: url("../public/fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
    font-family: "IbmPlexMedium";
    src: url("../public/fonts/IBMPlexMono-Medium.ttf");
}




.messages {
    width: 100%;
    height: 100%;
    max-height: 100%;
    /* Add a maximum height */
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    align-content: end;
    border-radius: 0px;
    background-color: #272534;
}

.messages-wrapper {
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
}