.header-grid{ 
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #393849;
  padding: 10px 5px;
  border-radius: 10px;
  font-family: IBMPlex;
  color: #EDEDED;
  font-weight: 400;

}

.intro-chat-span{
  font-size: 16px;
  line-height: 19.2px;
}

.close-btn{
  top: 10px;
  right: 10px;
  font-size: 14px;
}

.close-wrapper-div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-right: 10px;
}