.header-grid {
  display: flex;
  background-color: #393849;
  padding: 10px 15px;
  font-family: IBMPlex;
  color: #EDEDED;
  font-weight: 400;
  align-items: center;
  justify-content: space-between;
}

.intro-chat-span {
  font-size: 16px;
  font-weight: 400;
}

.close-btn {
  font-size: 14px;
  font-weight: 400;
}

.close-wrapper-div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.close-wrapper-div svg {
  width: 11px;
  height: 11px;
}