.msg {
  color: white;
  font-size: 16px;
  background-color: #393849;
  padding: 22px 25px 20px 25px;
  height: fit-content;
  text-align: left;
  font-family: IbmPlex;
  position: relative;
}


.from-ai {
  margin-right: auto;
  margin-left: 20px;
  color: #EDEDED;
}

.from-user {
  color: #00FFFF;
  margin-left: auto;
  margin-right: 20px;
}

.from-ai .msg-tick {
  position: absolute;
  left: -20px;
  bottom: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #393849 transparent;
}

.from-user .msg-tick {
  position: absolute;
  right: -20px;
  bottom: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent #393849;
}

.cursor-gpt {
  right: 0;
  top: 0;
  width: 10px;
  height: fit-content;
  margin-left: 2px;
  background-color: #ededed;
  animation: blink 1.2s infinite;
  display: inline;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.span-wrapper {
  height: 100%;
}

.span-wrapper span {
  display: inline;
}